<footer class="footer bg-dark py-3 mt-auto">
    <div class="container ">

        <span class=" text-primary text-body-secondary  text-light-emphasis">&copy; Yelp Camp 2023</span>
    </div>
</footer>